<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>

  
       
  </head>

  <body>

<div class="container">
    <div class="container-fluid">

   <!-- <main role="main" class="container">-->
       <p align="center" class="lead">Your Payment is successful</p>
       <div class="jumbotron">
        <h1 align="center">Generated Otp</h1>
        <p  align="center" class="lead">
          {{otp}}
        </p>
        <h3 align="center" class="heading">number of valid days: {{nod}}</h3>
      </div>
    </div>
  
</div>
  </body>
</html>
