<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
  </head>

  <body>

<div class="container">
    <div class="container-fluid">
      <div class="row">
    <div class="pad">
    
            <h1 class="page-header">About Us</h1>
           <div class="css/bootstrap.min.css" >
           <p class="gold"> </p>
            </div>
            <div class="text-info">
            <h4>  ADUS is managed by Professionals with more than 25 years of experience in 
               Renewable Energy sector in India, with an established reputation for customer responsiveness and technical expertise.</h4>
            </div>
   </div>
</div>


    
  
</div>
</div>

  </body>
</html>

