<h1>Accesscode History</h1>

<div class="find">
    <div class="right-inner-addon ">
    <input type="text" [(ngModel)]="text" id="myInput" (keyup)="myFunction()" placeholder="search"  class="form-control glyphicon glyphicon-search" /><br>
    </div>
   </div>
   <div class="table-responsive">
<table class="table table-hover" border=5 id="myTable" >
    <tr>
      <th>Transactionid/OTP</th>
      <th>Date</th>
      <th>Deviceid</th>
      <th>paid amount</th>
    </tr>   
     <tr>
     <td>14778989555555</td>
     <td>12/3/2018</td>
     <td>125634</td>
     <td>1000</td>
     </tr>
  
     
  </table>
  </div>