
 <nav class="navbar navbar-default">
  <div class="container-fluid">

    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only"> Toggle navigation </span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

      <a  class="navbar-brand" href="#"> ADUS </a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
         <li><a href="/"><span  aria-hidden="true"></span>    </a></li>
         <li><a href="/"><span  aria-hidden="true"></span>   </a></li>
         <li><a [routerLink]="['/dashboard']"><span  aria-hidden="true"></span>   Dashboard </a></li>
         <li class="dropdown" >
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Access Code <span class="caret"></span></a>
          <ul class="dropdown-menu">
             <li><a [routerLink]="['/generate_accesscode']"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Generate Access Code </a></li>
             <li><a [routerLink]="['/accesscode_history']"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Access Code History </a></li>

          </ul>
        </li>

        <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"> Manage Customer <span class="caret"></span></a>
         <ul class="dropdown-menu">
            <li><a [routerLink]="['/add_customer']"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> Add Customer </a></li>
            <li><a [routerLink]="['/view_edit_customer']"><span class="glyphicon glyphicon-menu-right" aria-hidden="true"></span> View/Edit Customer </a></li>

         </ul>
       </li>



       <li class="dropdown">
         <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-link" aria-hidden="true"></span> Reports <span class="caret"></span></a>
         <ul class="dropdown-menu">
           <li><a [routerLink]="['/total_revenue_generated']"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Total Revenue Generated  </a></li>
            <li><a [routerLink]="['/totalcustomer_activecustomer']"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Total Customers vs Active Customers  </a></li>
             <li><a [routerLink]="['/customer_rechargehistory']"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Customer Recharge History   </a></li>
           </ul>
       </li>
      
       <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> <span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}" ><a [routerLink]="['/profile']" target="_blank"><span class="glyphicon glyphicon-cog" aria-hidden="true"></span> Profile </a></li>
          <li><a (click)="onLogoutClick()" href="#"><span class="glyphicon glyphicon-log-out" aria-hidden="true"></span> Logout </a></li>
           <li><a [routerLink]="['/changepwd']"><span class="glyphicon glyphicon-user" aria-hidden="true"></span> change password </a></li>
       </ul>
      </li>


       <li><a [routerLink]="['/aboutus']"> About Us </a></li>
       <li><a [routerLink]="['/contactus']"> Contact Us </a></li>


      </ul>
      <ul class="nav navbar-nav navbar-right">
      <div class="header-right">
    <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink]="['/register']"><span class="glyphicon glyphicon-user"></span> Signup </a></li>
    <li  [routerLinkActive]="['active']" [routerLinkActiveOptions] = "{exact:true}"><a  [routerLink]="['/login']"><span class="glyphicon glyphicon-user"></span> Login </a>
  </div>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>
