<p>
  home works!
</p>


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Dashboard Template for Bootstrap</title>
   


  </head>

  <body>
<div class="container">
    <div class="container-fluid">
         <h1 class="page-header">Products</h1>

         <div class="row placeholders"> <!-- image container -->

            <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://cdn.shopify.com/s/files/1/0666/9741/products/SolarPanel5__1_1024x1024.jpeg?v=1490203379" alt="Generic placeholder thumbnail" width="200px" height="150px">
              <h4>Solar device1</h4>
              <span class="text-muted">Something else</span>
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://cdn-shop.adafruit.com/1200x900/200-07.jpg" alt="Generic placeholder thumbnail" width="200px" height="150px">
              <h4>Solar device2</h4>
              <span class="text-muted">Something else</span>
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://cdn-shop.adafruit.com/1200x900/1825-00.jpg" alt="Generic placeholder thumbnail" width="200px" height="150px">
              <h4>Adapter</h4>
              <span class="text-muted">Something else</span>
            </div>
             <div class="col-xs-6 col-sm-3 placeholder">
              <img src="https://cdn-shop.adafruit.com/1200x900/500-00.jpg" alt="Generic placeholder thumbnail" width="200px" height="150px">
              <h4> LARGE 6V 3.5W SOLAR PANEL</h4>
              <span class="text-muted">something else </span>
            </div>

          </div>


    <div class="well-lg">
    <div class="one">
    <!--<div class="jumbotron col-sm-6 text-center">-->
      <div class="jumbotron col-sm-6 text-center">
      <div class="text-center">
        <h3>Total Number of Customers</h3>
        <h1></h1>
      </div>

    </div>
  </div>
  <div class="two">
    <!--<div class="jumbotron col-sm-6 text-center">-->
      <div class="jumbotron col-sm-6 col-sm-offset-21 text-center">
        <div class="text-center">
        <h3>Total Revenue</h3>
       
      </div>  </div>
</div>
</div>
</div></div>


  </body>
</html>
