<h1> Generate Accesscode</h1>


<div class="find">
 <div class="right-inner-addon ">
 <input type="text" [(ngModel)]="text" id="myInput" (keyup)="myFunction()" placeholder="search"  class="form-control glyphicon glyphicon-search" /><br>
 </div>
</div>
<div class="table-responsive">
<table  class="table table-hover" border=5 id="myTable">
<thead>
<tr>
  <th>customer name</th>
  <th>Device Name</th>
  <th>Device ID</th>
  <th>Amount</th>
  <th>Date of payment</th>
  <th>charge per day</th>
  <th>Select</th>

  
</tr>
</thead>

<tbody>

<tr>
<td>man</td>
<td>homaya</td>
<td>123456</td>
<td>2000</td>
<td>12/2/2333</td>
<td>100</td>
<td align="center"><input type="radio" name="payment" value="{{this.DeviceId}}" data-error="" required></td>

</tr>
<tr>
<td>manju</td>
<td>homaya</td>
<td>8987</td>
<td>1000</td>
<td>12/2/2333</td>
<td>1000</td>
<td align="center"><input type="radio" name="payment" value="{{this.DeviceId}}" data-error="" required></td>


</tr>


</tbody>
</table>
</div>

<div style="text-align:center;">
   
  <input type="submit" [routerLink]="['/pay']" class="btn btn-primary btn-lg  site-btn pull-center" value="submit">

</div><br><br>