<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">


  </head>

  <body>
 <div class="container">
  <div class="container-fluid">
    <div class="cardmain">
    <div class="card">
       <h2 style="text-align: center; font-family:Arial Black">User Profile Card</h2>
      <div *ngIf="user">
     <h2>{{user.name}}</h2></div>
      <p class="title">Software Engineer </p>
      <p>Bangalore</p>

      <ul class="list-group">
               <li class="list-group-item">Username : {{user.username}}</li>
               <li class="list-group-item">Email : {{user.email}}</li>
     <p><button href="">{{user.username}}</button></p></ul>
    </div>
    </div>
  </div>
 </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="../../assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>

</body>
</html>
